{% extends "base.html" %} {% block title %}Home{% endblock %} 
{% block content %}



<h1 >ENTERTAINMENT HUB</h1>
<h2><marquee>ENTERTAINMENT MAKES HAPPY</marquee></h2>
<p>
    Movies! (also known as simply M!) is an American free-to-air television network owned as a joint venture between Weigel Broadcasting and the Fox Television 
    Stations subsidiary of Fox Corporation. The network's programming emphasizes feature films but also Modern E/I programming on Sunday mornings sourced from Storrs 
    Media/Telco Productions. The network's programming and advertising operations are based in Weigel Broadcasting's headquarters on North Halsted Street in Chicago, Illinois.</br>
    It is available in several markets through digital subchannel affiliations with free-to-air television stations, 
    as well as through carriage on pay television providers through a local affiliate of the network. Movies! provides programming 
    24 hours a day and broadcasts in the 16:9 widescreen picture format, available in either standard definition or high definition depending on the station's preference.</br>
    The network competes with two similarly formatted broadcast networks: This TV (originally operated by Weigel in a joint venture with 
    Metro-Goldwyn-Mayer, until the former's operational stake was taken over by Tribune Broadcasting on November 1, 2013) and GetTV 
    (owned by Sony Pictures Entertainment); feature films compose the primary source and children's programming the ancillary source of 
    programming on both networks, though This TV also broadcasts classic television series. However unlike This TV and GetTV, Movies! does 
    not edit the films aired to make room for more commercials. A notation in the Movies! title card stating no film alterations is aired at 
    the beginning of every film broadcast.</br>
</p>
<p>
    <a href="https://en.wikipedia.org/w/index.php?title=Special:DownloadAsPdf&page=Lists_of_films&action=show-download-screenhead" ><button type="submit" class="btn btn-primary">IF YOU NEED MOVIES AS PDF CLICK  here-- </button></a> 
</p> 

<body> 

</body>
{% endblock %}